.element-link {
  display: inline;
  position: relative;
}

.element-link .popup {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px 10px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.element-link .popup a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

.element-link .popup button {
  border: none;
  background: transparent;
}

.element-link .popup button:hover {
  color: rebeccapurple;
  cursor: pointer;
}

.active-style {
  background-color: rgb(151, 215, 226);
}

.active-style:hover {
  background-color: rgba(151, 215, 226, 0.6);
}

pre {
  line-height: 0.8em;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  white-space: pre-wrap;
  width: auto;
  display: block;
  clear: both;
  background: #292d3e;
  padding: 1em 1em;
  margin: auto;
}

code {
  font-size: 90%;
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  display: inline;
  background-color: transparent;
  color: #c3e88d;
  padding: 1em 1em;
}

input[type='color']:focus {
  outline: none !important;
  border: 1px solid #00807f;
}

input[type='color'] {
  outline: none !important;
  border: 1px solid lightgray;
  border-radius: 5%;
  width: 2.2em;
  height: 2.28em;
  transform: translateY(0.33em);
  background: transparent;
}

input[type='color' i] {
  padding: 0;
}
