.element-link {
  display: inline;
  position: relative;
}

.element-link .popup {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px 10px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.element-link .popup a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

.element-link .popup button {
  border: none;
  background: transparent;
}

.element-link .popup button:hover {
  color: rebeccapurple;
  cursor: pointer;
}

.active-style {
  background-color: rgb(151, 215, 226);
}

.active-style:hover {
  background-color: rgba(151, 215, 226, 0.6);
}

input[type='color']:focus {
  outline: none !important;
  border: 0px;
  box-shadow: 0;
}

input[type='color'] {
  outline: none !important;
  border: 0px;
  width: 2em;
  height: 2em;
  transform: translateY(0.25em);
  background: transparent;
}

input[type='color' i] {
  padding: 0;
}

.image-in-editor {
  display: block;
  max-width: 100%;
  max-height: 20em;
}
